<% provide(:title, @book.title)%>


  <div class="row">
    <aside class="span4">
      <%= gravatar_for_book @book %><%= @book.isbn %>, <%= @book.title %>, <%= @book.author %>
      <br>
      <%= link_to "Edit", edit_book_path %>
      <section>
        <%= render 'shared/book_read_stats' %>
      </section>
      <section>
        Average rating:
      <%= ratings_for @book %>
      </section>
      <section>
        Your Rating:
      <%= ratings_for @book, :show_user_rating => true %>
      </section>
      <section>
        <%= render 'shared/review_form' %>
      </section>
      <section>
        <%= link_to image_tag("amazon.png", :alt => "Amazon link"), @book.amazon_link %>
      </section>
    </aside>
  
  <div id="read_form">
  <% if current_user.read?(@book) %>
    <%= render 'unread' %>
  <% else %>
    <%= render 'read' %>
  <% end %>
  </div>

  <div class="span8">
    <% if @book.reviews.any? %>
      <h3>Reviews (<%= @book.reviews.count %>)</h3>
      <ol class="reviews">
        <%= render @reviews %>
      </ol>
      <%= will_paginate @reviews %>
    <% end %>
  </div>
</div>