<% provide(:title, @title)%>

<div class="row">
    <aside class="span4">
      <%= gravatar_for_book @book %><%= @book.isbn %>, <%= @book.title %>, <%= @book.author %>
      <br>
      <%= link_to "Edit", edit_book_path %>
      <section>
        <%= render 'shared/book_read_stats' %>
      </section>
      <section>
        Average rating:
      <%= ratings_for @book %>
      </section>
      <section>
        Your Rating:
      <%= ratings_for @book, :show_user_rating => true %>
      </section>
      <section>
        <%= render 'shared/review_form' %>
      </section>
      <section>
        <%= link_to image_tag("amazon.png", :alt => "Amazon link"), @book.amazon_link %>
      </section>
    </aside>

    <div class="span8">
    <h3><%= @title %></h3>
    <% if @readers.any? %>
      <ul class="users">
        <%= render @readers %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>

  </div>